.eyetarget {
  background-color: rgb(195, 51, 22);
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 20px 10px white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
