<div *ngIf="!startTraining else onlytrainingTarget" class="row h-100 w-100">    
    <div *ngIf="startEyeTracking" >    
        <eye-target></eye-target>
    </div>
        <div class="col-2 align-self-end" >                      
            <div class="row" >    
                <button class="col" (click)="createDataset()" color="primary" mat-raised-button>Начать обучение</button>   
                <button class="col" (click)="fitModel()" color="primary" mat-raised-button>Обучить модель</button> 
                <button class="col" (click)="test2()" color="primary" mat-raised-button>Тест</button> 
            </div>   
            <div class="row"> 
                <camera></camera>               
            </div> 
        </div>
        <div class="col-6">
        </div>        
</div>
<ng-template #onlytrainingTarget>  
    <train-target></train-target>
</ng-template>