<div *ngIf="!startTraining else onlytrainingTarget" class="row h-100 w-100">    
    <div *ngIf="showHeatMap">    
        <heatmap></heatmap>
    </div>
    <div *ngIf="startEyeTracking">    
        <eye-target></eye-target>
    </div>
        <div class="col-2 col-md-auto align-self-end" >  
            <div class="row" >    
                <button class="col m-1" (click)="saveImage()" color="primary" mat-raised-button>Image</button>
                <button class="col m-1 heatMapButton" (click)="showHeatMapevent()" color="primary" mat-raised-button>Карта</button> 
            </div>                    
            <div class="row" >    
                <button class="col m-1" (click)="createDataset()" color="primary" mat-raised-button>Начать обучение</button>   
                <button class="col m-1" (click)="fitModel()" color="primary" mat-raised-button>Обучить модель</button> 
                <button class="col m-1" (click)="showTarget()" color="primary" mat-raised-button>Таргет</button> 
            </div>
            <div class="row" >    
                <button class="col m-1" (click)="saveDataset()" color="primary" mat-raised-button>Сохранить датасет</button>
                <label for="myfile1" class="fileInputL col  m-1" >Загрузить датасет</label>
                <input type="file" id="myfile1" class="hiddenInput" (change)="loadDataset($event)" #fileUpload>
            </div>
            <div class="row" >    
                <button class="col m-1" (click)="saveModel()" color="primary" mat-raised-button>Сохранить модель</button>
                <label for="myfile2" class="fileInputL col  m-1" >Загрузить модель</label>
                <input type="file" id="myfile2" class="hiddenInput" (change)="loadModel($event)" multiple>
            </div>
            <div class="row"> 
                <camera></camera>               
            </div> 
        </div>
        <div class="col-6">
        </div>        
</div>
<ng-template #onlytrainingTarget>  
    <train-target></train-target>
</ng-template>